<div class="wrapper">

  <div id="left" class="priority"
       cdkDropList
       cdkDropListOrientation="horizontal"
       cdkDropListConnectedTo="right"
       [cdkDropListData]="left.items"
       [cdkDropListSortingDisabled]="true"
       (cdkDropListDropped)="drop.emit($event)">
    <mat-toolbar>{{ left.label }}</mat-toolbar>
    <mat-card *ngFor="let card of left.items" cdkDrag (click)="show.emit(card)">
      <span class="card-placeholder" *cdkDragPlaceholder></span>
      <mat-card-title>{{ card.title }}</mat-card-title>
    </mat-card>
  </div>

  <div id="right" class="priority"
       cdkDropList
       cdkDropListOrientation="horizontal"
       cdkDropListConnectedTo="left"
       [cdkDropListData]="right.items"
       [cdkDropListSortingDisabled]="true"
       [cdkDropListEnterPredicate]="when(right.items.length < 5)"
       (cdkDropListDropped)="drop.emit($event)">
    <mat-toolbar>{{ right.label }}</mat-toolbar>
    <mat-card *ngFor="let card of right.items" cdkDrag (click)="show.emit(card)">
      <span class="card-placeholder" *cdkDragPlaceholder></span>
      <mat-card-title>{{ card.title }}</mat-card-title>
    </mat-card>
  </div>

</div>

<div class="buttons-container">
  <button mat-fab color="warn" (click)="reset.emit()" title="Start Over">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="next.emit()" title="Next" [disabled]="when(right.items.length !== 5)()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
