.header-container {
  display: flex;
  background: #858585;
}
.header-title {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 30px;
  background: #CCC;
  font-family: 'Oswald', sans-serif;
  position: relative;
  margin-right: 20px;

  &:after {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid #CCC;
    content: ' ';
    position: absolute;
    right: -20px;
    top: 0;
  }
}
.header-subtitle {
  padding: 13px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
