@import "../../../vars";

.wrapper {
  display: flex;
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

mat-card.cdk-drag-dragging {
  //height: 20px;
}

aside {
  flex: 0 0 300px;
  position: relative;

  mat-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    min-height: 150px;
    max-height: 150px;
  }

  .card-container {
    min-height: 150px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
}

main {
  flex: auto;

  .priority {
    border: solid 1px black;
    min-height: 150px;
    margin-bottom: 20px;
    padding: 5px;
  }
}

mat-card {
  width: 250px;
  //height: 20px;
  display: inline-block;
  margin: 5px;

  mat-card-title {
    font-size: $card-title-font-size;
  }

  mat-card-content {
    font-size: $card-content-font-size;
  }
}
